.header {
  background-color: var(--main-bckgr-color);
  border-bottom: 1px solid var(--header-bottom-line);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-container {
  display: flex;
  align-items: center;
}
